<% if post.favorited_by?(current_user) %>
  <p>
  <%= link_to post.favorites.count, post_favorite_path(post, post.id), method: :delete, remote: true, class: "fas fa-heart heart_red" %>
<% else %>
  <%= link_to post.favorites.count, post_favorites_path(post), method: :post, remote: true, class: "fas fa-heart heart_blue" %>
  </p>
<% end %>

