{"filter":false,"title":".gitignore","tooltip":"/f_connect/.gitignore","ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":13,"column":36},"end":{"row":13,"column":36},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":65,"mode":"ace/mode/ini"}},"hash":"be96c59eec7593e8fad1ae07cdc59a6a569bb9cd","undoManager":{"mark":-1,"position":-1,"stack":[]},"timestamp":1613197160387}