<div class="container homes-top-wrapper">
  <div class="card-body">
      <div class="box17">
    <div id="container">
      <div id="theTarget">
        <div class="image1"></div>
        <div class="image2"></div>
        <div class="image3"></div>

      <div class="homes-top-text col-12">
        <p class>
          あ な た の ス キ ル が 誰 か の 力 に な る 。
        </p>
    </div>
    </div>
      </div>
      </div>
  </div>
</div>
</div>
<br>

<div class="col-xs-12 col-xs-offset-8">
    <p class="more"><%= link_to '案件一覧を見る>' %></p>
</div>
