
<!-- Full Page Image Background Carousel Header -->

<div class="a">
    <div class="background"><img class="c"></div>
    <div class="background"><img class="d"></div>
    <div class="background"><img class="e"></div>
</div>

<div class="over-bg"></div>

<!-- Full Page Image Background Carousel Header -->

<!-- main -->

<main role="slider-container">

  <!-- container -->

  <div class="container">

    <!-- tab-content -->

    <div class="tab-content text-center">

      <!-- Countdown -->

      <section id="home" class="tab-pane fade in active">
        <article role="countdown" class="countdown-pan">
          <div id="countdown" class="text-center"></div>
          <p>we are working hard for better expirience</p>
        </article>
      </section>

      <!-- introduction -->

      <section id="menu1" class="tab-pane fade">
        <article role="introduction" class="introduction-pan">
          <header class="page-title">
            <h2>ABOUT</h2>
          </header>
          <p class="top-text1"> あなたのスキルが誰かの力になる。</p></br>
          F CONNECTではクリエイターがもっと自由に、</br>
          自分の個性を発揮できるようにという<br>
          思いから作ったファッション業界特化型のプラットフォームサービスです。<br>
          ファッション業界に関わる人、または業界に関わりたい人にビジネスマッチングの対象を絞ることで、価値のある出会いを提供します。

          </br>
          </br>
          </br>

          <h4 class="">- User category</h4>

          <!-- services -->

          <ul role="services">
            <li><i class="fas fa-palette" aria-hidden="true"></i>
              <h6>Fashion Designer</h6>

            </li>
            <li><i class="fa fa-camera-retro" aria-hidden="true"></i>
              <h6>Fashion Photography</h6>
            </li>
            <li><i class="fas fa-vest-patches" aria-hidden="true"></i>
              <h6>Fashion Stylist</h6>
              </li>
               <li><i class="fas fa-cut" aria-hidden="true"></i>
              <h6>Hair & Make</h6>
              </li>
          </ul>

          <!-- services -->

        </article>
      </section>

      <!-- introduction -->


      <!-- Contact -->

      <section id="menu3" class="tab-pane fade">
        <article role="contact" class="contact-pan">
          <header class="page-title">
            <h2>Stay in touch with us</h2>
          </header>
          <h3><a href="mailto:Contact@pixicon.com">Contact @ pixicon.com</a></h3>
          <ul>
            <li><i class="fa fa-map-marker" aria-hidden="true"></i> Collins Street West Victoria 8007 Australia.</li>
            <li><i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:1-212-290-4700">+1-212-290-4700</a></li>
          </ul>
        </article>
      </section>
    </div>

    <!-- tab-content -->

  </div>
</main>

<!-- container -->

<!-- main -->

<!-- header -->

<header role="header">
  <hgroup>

    <!-- logog -->

    <h1> <a href="#" title="Pixicon"> F CONNECT</a> </h1>

    <!-- logog -->

    <!-- nav -->
<nav role="nav" id="header-nav" class="nav navy">
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home" title="Countdown">Countdown</a></li>
        <li><a data-toggle="tab" href="#menu1" title="Introduction", class="text-center">About</a></li>
        <li><a data-toggle="tab" href="#menu3" title="Contact">Contact</a></li>
      </ul>
      <div role="socil-icons" class="mobile-social">
        <li><a href="#" target="_blank" title="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li><a href="#" target="_blank" title="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li><a href="#" target="_blank" title="google-plus"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
        <li><a href="#" target="_blank" title="pinterest"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
      </div>
    </nav>

    <!-- nav -->

    <!-- Socil Icon -->

    <ul role="socil-icons" class="desk-social">
      <li><a href="#" target="_blank" title="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
      <li><a href="#" target="_blank" title="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
      <li><a href="#" target="_blank" title="google-plus"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
      <li><a href="#" target="_blank" title="pinterest"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
    </ul>

    <!-- Socil Icon -->

  </hgroup>
  <footer class="desk">
    <p>&copy; All rights reserved. Floxi 2015 Made with <i class="fa fa-heart" aria-hidden="true"></i> by Designstub</p>
  </footer>
</header>

<!-- header -->

<footer class="mobile">
  <p>&copy; All rights reserved. Floxi 2015 Made with <i class="fa fa-heart" aria-hidden="true"></i> by Designstub</p>
</footer>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->


