<div class="container homes-top-wrapper">
  <div class="card-body">
    <div class="homes-top-image col-9">
      <div class="homes-top-text col-12">
        <p>
          あ な た の ス キ ル が 誰 か の 力 に な る 。
        </p>
      </div>
    </div>
  </div>
</div>
<br>

<div class="col-xs-12 col-xs-offset-8">
    <p class="more"><%= link_to '案件一覧を見る>' %></p>
</div>
