<!-- Full Page Image Background Carousel Header -->
<div class="a">
    <div class="background"><img class="c">
    <p> - F - C O N E E C T - </p></div>
    <div class="background"><img class="d">
    <p> - F CONEECT - </p></div>
    <div class="background"><img class="e">
    <p> - F  C O N E E C T - </p></div>
</div>
<div class="over-bg"></div>
<!-- Full Page Image Background Carousel Header -->
<!-- main -->
<main role="slider-container">
  <!-- container -->
  <div class="container">
    <!-- tab-content -->
    <div class="tab-content text-center">
      <!-- Countdown -->
        <section id="home" class="tab-pane fade in active">
          <article role="countdown" class="countdown-pan">
            <div id="countdown" class="text-center"></div>
             <header class="page-title">
            <h2>CONCEPT</h2>
            </header>
            <p class="top-text1"> 会社や学校の枠を超えたカジュアルなコミュニケーションで、<br>ファッションは加速する。</p></br>
            ファッション業界の人や、業界と関わりたい人と緩やかに繋がり
            <div class="top-text111">「ビジネスの出会い」</div>を創出するサービスです。
            会社内や学校ないだけでなく、業界の上流〜下流、<br>
            それに関連する企業とのコミュニケーションによって、業界の活性化を目指しています。</p>
          </article>
        </section>

      <!-- about -->
      <section id="menu1" class="tab-pane fade">
        <article role="introduction" class="introduction-pan">
          <header class="page-title">
            <h2>ABOUT</h2>
          </header>
          <p class="top-text1"> あなたのスキルが誰かの力になる。</p></br>
          F CONNECTではクリエイターがもっと自由に、</br>
          自分の個性を発揮できるようにという<br>
          思いから作ったファッション業界特化型のプラットフォームサービスです。<br>
          ファッション業界に関わる人、または業界に関わりたい人にビジネスマッチングの対象を絞ることで、価値のある出会いを提供します。
          </br>
          </br>
          </br>
          <h4 class="user_category">- User category</h4>
          <!-- services -->
          <ul role="services">
            <li><i class="fas fa-palette" aria-hidden="true"></i>
              <h6>Fashion Designer</h6>
            </li>
            <li><i class="fa fa-camera-retro" aria-hidden="true"></i>
              <h6>Fashion Photography</h6>
            </li>
            <li><i class="fas fa-vest-patches" aria-hidden="true"></i>
              <h6>Fashion Stylist</h6>
            </li>
            <li><i class="fas fa-cut" aria-hidden="true"></i>
              <h6>Hair & Make</h6>
            </li>
          </ul>
          <!-- services -->
        </article>
      </section>
      <!-- introduction -->

      <!-- Contact -->
      <section id="menu3" class="tab-pane fade">
        <article role="contact" class="contact-pan">
          <header class="page-title">
            <h2>CONTACT</h2>
          </header>
          <h3><a href="mailto:Contact@pixicon.com">hoge @ hogehoge.com</a></h3>
          <ul>
            <li><i class="fa fa-map-marker" aria-hidden="true"></i> Hoge hoge 2021.</li>
            <li><i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:1-212-290-4700">+000-0000-0000</a></li>
          </ul>
        </article>
      </section>
    </div>
<!-- tab-content -->
  </div>
</main>
<!-- container -->
<!-- main -->

<!-- header -->
<header role="header">
  <hgroup>
    <!-- logog -->
    <h1> <a href="#" title="Pixicon"> F CONNECT</a> </h1>
    <!-- logog -->
    <!-- nav -->
    <nav role="nav" id="header-nav" class="nav navy">
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home" title="Countdown">Concept</a></li>
        <li><a data-toggle="tab" href="#menu1" title="Introduction", class="text-center">About</a></li>
        <li><a data-toggle="tab" href="#menu3" title="Contact">Contact</a></li>
      </ul>
      <div role="socil-icons" class="mobile-social">
        <li><a href="#" target="_blank" title="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li><a href="#" target="_blank" title="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li><a href="#" target="_blank" title="google-plus"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
        <li><a href="#" target="_blank" title="pinterest"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
      </div>
    </nav>
    <!-- nav -->
  </hgroup>
</header>

<!-- header -->


