/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import "slick-theme";
@import "slick";
@import url(https://fonts.googleapis.com/css?family=Oranienbaum);
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');



header {
  background-color: black;
  height: 80px;
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
	font-family: 'Oranienbaum', serif;
	letter-spacing:4px;
}

a.text-light.fas.fa-bell {
  margin-left: 12px;
}

a.text-light.fas.fa-newspaper {
  margin-left: 12px;
}

a.text-light.fa.fa-tasks {
  margin-left: 12px;
}


.header_image {
	display: block;
	margin: auto;
	width: 80px;
	height: 55px;
	font-size: 0;
  background-image: image-url('header1.jpg');
  background-size: 80px;
}



$dk-blue: #1E83AE;
$blue: #3D5B94;
$light-blue: #3DACDD;
$green: #6dcd9a;
$social-size: 1.2em;
$social-width: 20%;

* {
  margin: 0;
  padding: 0;
}

html, body {
　display: block;
  flex-direction: column;
  min-height: 100vh;
}

#hm-icon {
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 10;
}
.menu-trigger,
.menu-trigger span {

  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}
.menu-trigger {
  position: relative;
  width: 50px;
  height: 43px;
}
.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
}
.menu-trigger span:nth-child(1) {
  top: 0;
}
.menu-trigger span:nth-child(2) {
  top: 20px;
}
.menu-trigger span:nth-child(3) {
  bottom: 0;
}
.menu-trigger.active span:nth-child(1) {
  -webkit-transform: translateY(20px) rotate(-45deg);
  transform: translateY(20px) rotate(-45deg);
  background-color: #fff;
}
.menu-trigger.active span:nth-child(2) {
  opacity: 0;
}
.menu-trigger.active span:nth-child(3) {
  -webkit-transform: translateY(-20px) rotate(45deg);
  transform: translateY(-20px) rotate(45deg);
  background-color: #fff;
}

/* ------------------------ */
/* ------ spメニュー ------ */
/* ------------------------ */
#sp-menu {
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
  color: #fff;
  width: 100%;
  min-height: 100%;
  display: none;
  z-index: 9;
}
#sp-menu li {
  text-align: center;
  margin-bottom: 30px;
}
#sp-menu a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.container a {
  text-decoration: none;
}

.card a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}


/*===== Footer ===*/

footer {
  width: 100%;
  display: inline-block;
  margin: 2em 0;
  height: 70px;
  background-color: #999;
  margin-top: 200px;
  .copyright {
    width: 50%;
    float: left;
    width: 100%;
    p {
      padding-left: 10%;
      color: white;
      font-size: 0.7em;
      line-height: 70px;
      text-transform: capitalize;
      letter-spacing: 1px;
      text-align: center;
      padding: 0;
    }
  }
  .social {
      width: 50%;
      float: right;
      width: 100%;
    }
     a {
      float: left;
      line-height: 70px;
      text-decoration: none;
      color: white;
      text-align: center;
      font-weight: bold;
      @include transition(all, 0.3s);
       &:hover {
         background-color: #222;
         @include transition(all, .3s);
       }
    }
  }


.linked {
  background-color: $dk-blue;
  font-size: $social-size;
  width: $social-width;
}

.face {
  background-color: $blue;
  font-size: $social-size;
  width: $social-width;
}

.tweet {
  background-color: $light-blue;
  font-size: $social-size;
  width: $social-width;
}

.support {
  background-color: $green;
  font-size: 0.8em;
  width: 40%;
}


